<template>
  <div id="app">
    <header-block></header-block>
    <router-view/>
  </div>
</template>
<script>
import header_block from './components/header-block/header-block.vue'

export default {
  components: {
    'header-block': header_block
  }
}
</script>

<style>  
</style>